
header a{
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 20px;
}
a:hover{ 
  color: orange;
}

#root{
  height: 100vh;
  margin: 0;
}

body, input,select,button,textarea{
  font-size: 16px;
}



.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns:1fr;
  height: 100%;
}

header{
  background-color: #203040;
  color: white;
  width: auto;
  height: 30px;
  padding: 10px 15px;
  grid-area: header;
  display: flex;
  justify-content: space-between;

}

header a{
  color: #ffff;
  text-decoration: none;
}

main{
  grid-area:main;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;

}



.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}



/* -------------------- PRODUCTS STYLING ------------------------------ */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 30rem;
  padding: 1rem;

}

.products a{
  text-decoration: none;
}

.product{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.products img{
  height: 25rem;
  width: 20rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button{
  text-align: center;
}

.product-price div{
  font-size: 2rem;
}

.button{
  padding: 5px;
  border: 0.1rem #c0c0c0 solid;
  cursor: pointer;
}

.button:hover{
  border: 0.1rem gold
}

.button-primary{
  background-color: #f0c040;
}

.button-primary:hover{
  background-color: yellow;
}


/* ------------------------------ Filter Class ------------------------- */

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}


/* ----------------------------- INdex.css --------------------- */

.cart{
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}

.cart-header{
  border-bottom: 2px #c0c0c0;
}

.cart-items{
  padding: 0px;
  width: 100%;
  list-style-type:none;
}

.cart-items img{
  width: 5rem;
}

.cart-items li{
  display: flex;
}

.cart-items li div{
  padding: .5rem;
}

.cart-items li div:last-child{
  flex: 1;
}

.remove-button{
  height: 25px;
}

.right{
  flex-grow: 1;
}

.proceed-container{
  padding: 15px;
}

.total{
  display: flex;
  justify-content: space-between;
}

.total button{
  float: right;
}