
header a{
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
}
a:hover{ 
  color: orange;
}

#root{
  height: 100vh;
  margin: 0;
}

body, input,select,textarea{
  font-size: 16px;
}



.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns:1fr;
  height: 100%;
}

header{
  background-color: #203040;
  color: white;
  width: auto;
  height: 30px;
  padding: 10px 15px;
  grid-area: header;

}



footer{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #203040;
  color: white;
}